body {
  font-family: 'Lato', sans-serif;
}
h1,
h2,
h3, h4 {
  font-family: 'Varela Round', sans-serif;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
.btn-primary {
  background: #FF612A;
  border: 0;
  margin-right: 5px;
}
.btn-primary:hover,
.btn-primary:focus {
  background: #ff5736
}
.navbar {
  background: #f9f9f9;
}
.navbar-brand #logo{
  height: 25px;
  width: auto;
  float: left;
}
.navbar-brand span {
  display: block;
  margin: 5px 20px;
  float: left;
}
#content {
  margin-top: 80px;
}
.optimization-form h2 {
  margin: 0;
}
.optimization-form #form table {
  width: 100%;
  font-size: 13px;
}
.optimization-form #form table tr {
  float: left;
  width: 20%;
  padding-bottom: 15px;
  height: 75px;
}
.optimization-form #form table th, 
.optimization-form #form table td {
  padding: 0;
  display: block;
  margin: 0;
  padding-right: 25px;
}
.optimization-form #form table td select,
.optimization-form #form table td input {
  width: 100%;
}
.optimization-form #form table td input {
  border: 1px solid #eee;
  padding: 5px 3px 5px 10px;
}
.optimization-form #form table td select {
  outline: 0;
  overflow: hidden;
  height: 30px;
  border: 1px solid #eee;
  padding: 5px 3px 5px 10px;
}
.optimization-form #form button.submit {
  width: 100%;
  display: block;
}

#result h3 {
  padding: 0;
  margin: 0;
}

#result #budget .panel,
#result #summary .panel,
#optimization_result .panel {
  font-size: 13px;
  width: 100%;
  display: none;
}

#result .tableData {
  margin-bottom: 20px;
}

#result .table-bordered>thead>tr>td, 
#result .table-bordered>thead>tr>th {
  text-transform: capitalize;
}
#result  .dataTables_wrapper .dataTables_info ,
#result  .dataTables_wrapper .dataTables_length {
  float: left;
}
#result .dataTables_wrapper .dataTables_filter,
#result .dataTables_wrapper .dataTables_paginate {
  float: right;
}

#result .pagination>.active>a, 
#result .pagination>.active>a:focus, 
#result .pagination>.active>a:hover, 
#result .pagination>.active>span, 
#result .pagination>.active>span:focus, 
#result .pagination>.active>span:hover {
  background-color: #FF612A;
  border-color: #FF612A;
}

#result .dataTables_wrapper .highlight-blue {
  background: #E0EDF9;
}
#result .dataTables_wrapper .highlight-green {
  background: #CDF2EB;
}
#result .dataTables_wrapper .highlight-pink {
  background: #CDF2EB;
}

#result #budgetTable_wrapper .top {
  padding: 10px 0 35px;
}

#plots .charts img {
  margin-bottom: 20px;
}

#putToDB {
  float: left;
  padding-right: 40px;
}

#getFromDB {
  padding: 20px;
  float: left;
  border-left: 1px dotted #999;
}

#putToDB,
#getFromDB {
  min-height: 225px;
  margin-bottom: 20px;
  width: 40%;
}

#putToDB h3,
#getFromDB h3 {
  padding-bottom: 20px;
}

#putToDB table td,
#getFromDB table td {
  padding: 10px 0;
}

#putToDB table label,
#getFromDB table label { 
  padding-right: 10px;
  min-width: 75px;
}

#putToDB table td input,
#putToDB table td textarea,
#getFromDB table td input,
#getFromDB table td textarea,
#getFromDB table td select  { 
  padding: 10px;
  border: 1px solid #999;
}